@use "sass:color";

/* BACKGROUND */

$color-bg-primary: #eeeeee;
$color-bg-secondary: #222222;

/* COLORS */

$color-primary: #0c5090;
$color-secondary: #eeeeee; // f2f2f2
$color-text: #1f1f1f;
$color-nav-bg: rgb(255 255 255 / 100%); // #000000;
$color-nav-link: #1f1f1f; // #f2f2f2;
$color-nav-text: color.adjust($color-nav-link, $lightness: + 15%);
$color-disabled: #9e9d9d;

/* ICONS */

$color-success: #14a44d;
$color-warning: #e4a11b;
$color-danger: #dc4c64;
$color-info: #54b4d3;

/* LINKS */

$color-link-default: #0000ee;
$color-link-visited: #551a8b;

/* TYPOGRAPHY */

$font-family: "Open Sans", sans-serif;
$line-height-headlines: 1.4em;
$line-height-text: 1.65em;

/* MARGINS */

$margin-bottom: 1em;


/* TRANSPARENT BACKGROUND OVERLAY */

$opacity-dark: rgb(0 0 0 / 80%);
$opacity-light: rgb(255 255 255 / 80%);
