{% extends 'partials/base.html.twig' %}

{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}
	<div id="main" class="wrapper style4 plain">

		<div id="content" class="container">
			<section>
				{% include 'partials/heading.html.twig' %}
				{{ page.content|raw }}
			</section>
		</div>

		{% include 'partials/modular.html.twig' %}
	</div>
{% endblock body %}
