@use "_config.scss" as config;

/* Basic */

@media ( width <= 1280px ) {

    #logo {
        font-size: 0.56em !important;
        font-weight: bold;
        line-height: 7.2em !important;
    }

    #banner {
        height: 22.5em;
    }

    .grid-default {
        grid-template-columns: repeat(config.$grid-columns-lg);
    }
}