{% if page.header.text %}
	{% set text = page.header.text %}
	<div class="wrapper style4 plain">
		<section class="container">
				{% if content %}
					<span class="byline">
						{{ content|raw }}
					</span>
				{% endif %}
				{% if text.button.text %}
					<div class="{{ text.button.class }} mt-3">
						<a href="{{ text.button.url }}" class="button mb-1">{{ text.button.text|raw }}</a>
					</div>
				{% endif %}
		</section>
	</div>
{% endif %}